body{
    marign:0;
    padding: 0;
    font-family: 'Lato', 'helvetica', sans-serif;
    z-index: 10;    
}

.mySlides {
    display: none;
}

img {
    vertical-align:middle;
}

.logo {
    background: black;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    margin: 2px; 
}

.bar {
    background: white;
    padding-left:10px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 7px;
    margin: 5px; 
    transition: 1s;   
}

li {
    
    list-style-type: none;
    margin-top: 0pxpx;
    padding-left: 10px;
}


li a {
    display: block;
    color: black;
    font-weight:bold;
    text-align: center;
    font-family: 'Lato', 'helvetica', sans-serif;
    font-size:15px;
    padding: 15px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #6e6eff;
    transition: 0.4s;
    
}

.active {
    background-color:white;
}

li.dropdown {
    display:inline-table;
}

.dropdown-content  {
    display:none;;
    position:absolute;
    width: auto;
    left:5%;
    right:5%;
    padding: 100px 200px ;
    background-color: white;
    box-shadow: 0px 0px 1000px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 3s;
}

.dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white; 
}

.dropdown:hover .dropdown-content {
    background-color: white;
    color:blue;
    display: block;
}

.dropdown-conten {
    display:none;;
    position:absolute;
    border-style: groove;
    border-color: blue;
    border-width:thin;
    width: auto;
    right:10px;
    padding: 50px 80px ;
    background-color: white;
    box-shadow: 0px 0px 1000px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 3s;
}

.dropdown-conten a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-conten a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-conten {
    background-color: white;
    color:blue;
    display: block;   
}

.slideshow-container {
    max-width: 1150px;;
    position: relative;
    margin: 5px;
    margin-top: 10px;
}

.prev, .next {
    cursor:pointer;
    position:absolute;
    background: rgb(0, 55,126);
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    opacity: 70%;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 100px 0 0 100px;
}

.prev {
    left: 0;
    border-radius: 0 100px 100px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: right;
    right: 2px;
    top: 2px;
    font-weight: 500;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1px 10px;
    background-color: #78d7db;
    border-style: double;
    border-color: black;
    border-radius: 40%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {
      font-size: 11px
    }
}


.sticky {
    position:sticky;
    z-index: 1;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.boxpos {
    text-align: center;
}

.pro img {
    position: relative;
    vertical-align: middle
}

.social {
    background: rgb(238,238,238);
    padding-left:10px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 7px;
    margin: 5px; 
    transition: 1s;
}

.social img {
    cursor: pointer;
}

.low {
    background: black;
    padding-left:10px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 7px;
    margin: 0; 
    transition: 1s;
}

#lol {
    vertical-align:middle;
    float: left;
}

.foot {
    display: block;
    color: white;
    font-weight:bold;
    text-align: center;
    font-family: 'Lato', 'helvetica', sans-serif;
    font-size:15px;
    padding: 15px;
    text-decoration: none;
}

.container {
    position: relative;
    float: left;  
    height: 140px;
    width: 140px;
}

.overlay {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: .5s ease;
    border-style: outset;
    border-color:white;
}

.container:hover .overlay {
    opacity: 1;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
.hits {
    color: aliceblue;
    font-size: 60px;
    font-weight: 200;
    cursor:default;
}

.colun {
    float: left;
    padding: 5px;
}

.cd img{
    border-style: outset;
}

.containera {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.imagea {
    display:grid;
    height: auto;
}

.overlaya {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 280px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.containera:hover .overlaya {
    opacity: 1;
}

.cdb {
    margin: 80px;
    float: left;
}

.bgps {
    background-image: url("Images/gamesbg.jpg");
    height: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgc {
    background-color: #006FCD;
}

.gmelnk {
    font-family: lato,sans-serif;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.lol {
    margin: 200px;
    float: left;
}

.image {
    display:grid;
    height: auto;
}

.wow {
    float: left;
}

.bg {
    box-sizing: border-box;
}